.header-login-signup{
	background-color:#85bcfa;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #000040;
	box-sizing: border-box;
}

.header-login-signup .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-login-signup .header-limiter h1{
	float: left;
	margin-top:0px;
	
}

.header-login-signup .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-login-signup .header-limiter a {
	color: #000040;
	text-decoration: none;
}

.header-login-signup .header-limiter nav {
	font : 14px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-login-signup .header-limiter nav a{
	font-size: 16px;/*taille police  lien du menu */
	display: inline-block;
	padding: 0 15px; /*espace entre lien du menu */
	opacity: 0.7;
	text-decoration:none;
	line-height: 1;
}

/*effet de passage de la souris */
.header-login-signup .header-limiter nav a:hover {
	opacity: 1;
}

.header-login-signup .header-limiter nav a.selected {
	color: #ffffff;
}

/* Login/Sign up buttons */

.header-login-signup .header-limiter ul {
	font: 14px Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 1;
	float: right;
}

.header-login-signup .header-limiter ul li {
	display: inline-block;
	margin-left: 15px;
	opacity:0.8;
}

.header-login-signup .header-limiter ul li:hover{
	opacity: 1;
}



