.success {
	margin: 3px;
	background-color: rgb(64, 232, 64);
	color: white;
}

.warning {
	margin: 3px;
	background-color: rgb(255, 200, 64);
	color: white;
}

.error {
	margin: 3xp;
	background-color: rgb(255, 80, 80);
	color: white;
}